$transition-duration: 0.3s;
$transition-easing: ease-in-out;
.elevated {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.icon-button {
  &[disabled] {
    opacity: 0.4;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  svg {
    height: 25px;
    width: 25px;
  }
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  z-index: 1;
  transition: background-color $transition-duration $transition-easing;
}
