.grid-list-title {
  margin-bottom: 2rem;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  .grid-item {
    padding: 5px 10px;
    width: 90%;
    height: 100%;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ffffff00;
    transition: all 0.3s;
    cursor: pointer;
    .grid-item-title {
      font-size: 1.1rem;
      font-weight: 400;
    }
    .grid-item-sub-title {
      font-size: 0.9rem;
      font-weight: 300;
    }
  }
}

.selected {
  border: 1px solid #3d3d3d !important;
}
